[Unit]
Description=Smokeping Prober Service
After=network.target

[Service]
EnvironmentFile=/etc/default/smokeping_prober
Restart=always
User=root
ExecStart=/usr/bin/smokeping_prober $HOSTS

[Install]
WantedBy=multi-user.target
